<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
        <form [formGroup]="addTypeForm" (ngSubmit)="onSubmit()">
            <div class="text-center mb-4">
                <h1 class="mb-3">Create a new type</h1>
            </div>

            <app-text-input [formControl]="addTypeForm.controls['name']" [label]="'Name'"></app-text-input>
  
            <div class="d-grid">
            <button class="btn btn-lg btn-primary mt-3" type="submit">
                Create
            </button>
            </div>
        </form>
    </div>
</div>
