<div class="container">
    <div class="table-responsive mt-5">
        <table class="table">
            <thead class="text-uppercase">
                <tr>
                    <th>
                        <div class="py-2"></div>
                    </th>
                    <th>
                        <div class="py-2">Create</div>
                    </th>
                    <th>
                        <div class="py-2">Edit</div>
                    </th>
                    <th>
                        <div class="py-2">Delete</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Brand
                    </td>
                    <td>
                        <a class="p-2" routerLink="/admin/add-brand">Create Brand</a>
                    </td>
                    <td>
                        <a class="p-2" routerLink="/admin/edit-brand">Edit Brand</a>
                    </td>
                    <td>
                        <a class="p-2" routerLink="/admin/delete-brand">Delete Brand</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Type
                    </td>
                    <td>
                        <a class="p-2" routerLink="/admin/add-type">Create Type</a>
                    </td>
                    <td>
                        <a class="p-2" routerLink="/admin/edit-type">Edit Type</a>
                    </td>
                    <td>
                        <a class="p-2" routerLink="/admin/delete-type">Delete Type</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Product
                    </td>
                    <td>
                        <a class="p-2" routerLink="/admin/add-product">Create Product</a>
                    </td>
                    <td>
                        <a class="p-2" routerLink="/admin/edit-product">Edit Product</a>
                    </td>
                    <td>
                        <a class="p-2" routerLink="/admin/delete-product">Delete Product</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>